In [1]:
import sqlite3

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\alirezaabadi\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (8.30.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack-data in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\alirezaabadi\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing in c:\users\alirezaabadi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\alirezaabadi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\alirezaabadi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
%load_ext sql

## connect to sqlite  database

In [9]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%%sql

DROP TABLE IF EXISTS photos;
DROP TABLE IF EXISTS users;

CREATE TABLE users (
    id       INTEGER PRIMARY KEY,
    username VARCHAR(50)
);

CREATE TABLE photos (
    id      INTEGER PRIMARY KEY,
    url     VARCHAR(200),
    user_id INTEGER
);

 * sqlite://
Done.
Done.
Done.
Done.

[]

In [6]:
%%sql

INSERT INTO users (id, username) VALUES
(1, 'monahan93'),
(2, 'pfeffer'),
(3, '99stroman'),
(4, 'sim3onis');

INSERT INTO photos (id, url, user_id) VALUES
(1, 'http://img1.jpg', 4),
(2, 'http://img2.jpg', 1),
(3, 'http://img3.jpg', 1),
(4, 'http://img4.jpg', 1),
(5, 'http://img5.jpg', 2),
(6, 'http://img6.jpg', 3),
(7, 'http://img6.jpg', 4);

 * sqlite://
4 rows affected.
7 rows affected.

[]

In [12]:
%%sql
SELECT name 
FROM sqlite_master 
WHERE type='table';

 * sqlite://
Done.

[('users',), ('photos',)]

In [14]:
%%sql
SELECT COUNT(*) AS n_rows FROM users

 * sqlite://
Done.

[(0,)]

In [15]:
%load_ext sql
%sql sqlite:///mytest.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%%sql

DROP TABLE IF EXISTS photos;
DROP TABLE IF EXISTS users;

CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(50)
);

CREATE TABLE photos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    url VARCHAR(200),
    user_id INTEGER
);

   sqlite://
 * sqlite:///mytest.db
Done.
Done.
Done.
Done.

[]

In [19]:
%%sql

INSERT INTO users (username) VALUES
('monahan93'),
('pfeffer'),
('99stroman'),
('sim3onis');

   sqlite://
 * sqlite:///mytest.db
4 rows affected.

[]

In [20]:
%%sql
SELECT * FROM users;

   sqlite://
 * sqlite:///mytest.db
Done.

[(1, 'monahan93'), (2, 'pfeffer'), (3, '99stroman'), (4, 'sim3onis')]

In [21]:
%%sql

INSERT INTO photos (url, user_id) VALUES
('http://img1.jpg', 4),
('http://img2.jpg', 1),
('http://img3.jpg', 1),
('http://img4.jpg', 1),
('http://img5.jpg', 2),
('http://img6.jpg', 3),
('http://img6.jpg', 4);

   sqlite://
 * sqlite:///mytest.db
7 rows affected.

[]

In [22]:
%%sql
SELECT * FROM photos;

   sqlite://
 * sqlite:///mytest.db
Done.

[(1, 'http://img1.jpg', 4),
 (2, 'http://img2.jpg', 1),
 (3, 'http://img3.jpg', 1),
 (4, 'http://img4.jpg', 1),
 (5, 'http://img5.jpg', 2),
 (6, 'http://img6.jpg', 3),
 (7, 'http://img6.jpg', 4)]

In [26]:
%pwd

'C:\\Users\\AlirezaAbadi\\psql_training'

In [27]:
!git init

Reinitialized existing Git repository in C:/Users/AlirezaAbadi/psql_training/.git/

In [28]:
!git remote -v

origin	https://github.com/alirezaghorbani1983/psql_training.git (fetch)
origin	https://github.com/alirezaghorbani1983/psql_training.git (push)

In [29]:
!git branch

* main

In [30]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   psql_1.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	mydb.sqlite
	mytest.db
	psql_1.txt

no changes added to commit (use "git add" and/or "git commit -a")

In [31]:
!git add .

warning: in the working copy of 'psql_1.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of '.ipynb_checkpoints/psql_1-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it
warning: in the working copy of '.ipynb_checkpoints/psql_practice_1-checkpoint.ipynb', LF will be replaced by CRLF the next time Git touches it

In [32]:
!git commit -m "updated notebook and added db files"

[main 190f1f2] updated notebook and added db files
 7 files changed, 808 insertions(+), 27 deletions(-)
 create mode 100644 .ipynb_checkpoints/psql_1-checkpoint.ipynb
 create mode 100644 .ipynb_checkpoints/psql_1-checkpoint.txt
 create mode 100644 .ipynb_checkpoints/psql_practice_1-checkpoint.ipynb
 create mode 100644 mydb.sqlite
 create mode 100644 mytest.db
 create mode 100644 psql_1.txt

In [34]:
!git push

Everything up-to-date