In [1]:
import sqlite3

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\alirezaabadi\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (8.30.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (2.0.39)
Requirement already satisfied: sqlparse in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack-data in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\alirezaabadi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\alirezaabadi\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\alirezaabadi\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing in c:\users\alirezaabadi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\alirezaabadi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\alirezaabadi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
%load_ext sql

In [4]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%%sql  

CREATE TABLE users (
    id INT PRIMARY KEY,
    username VARCHAR(100)
);

INSERT INTO users (id, username) VALUES
(1, 'Reyna Marvin'),
(2, 'Micah Cremin'),
(3, 'Alfredo66'),
(4, 'Gerard_Mitchell42'),
(5, 'Frederique Donnelly');

 * sqlite://
Done.
5 rows affected.

[]

In [6]:
%%sql  
CREATE TABLE photos (
    id INT PRIMARY KEY,
    url VARCHAR(255),
    user_id INT,
    FOREIGN KEY (user_id) REFERENCES users(id)
);

INSERT INTO photos (id, url, user_id) VALUES
(1, 'https://santina.net', 1),
(2, 'https://alayna.net', 2),
(3, 'https://kailyn.name', 3);

 * sqlite://
Done.
3 rows affected.

[]

In [7]:
%%sql

select url,username
from photos
join users on users.id = photos.user_id;

 * sqlite://
Done.

[('https://santina.net', 'Reyna Marvin'),
 ('https://alayna.net', 'Micah Cremin'),
 ('https://kailyn.name', 'Alfredo66')]